<%- include('./partials/header.ejs') %>


<h1>Edit Page</h1>

    <form action="/strategies/<%= strategy.id %>?_method=PUT" method="POST">
      Title: <input type="text" name="title" value="<%= strategy.title %>"> <br/>
      Description: <input type="text" name="description" value="<%= strategy.description %>"> <br/>
      Contributor: <input type="text" name="contributor" value="<%= strategy.contributor %>"> <br/>      
       <br/>

      <input type="submit" value="Edit Entry">
    </form>

<%- include('./partials/footer.ejs') %>